pipeline/KavitaOrderBlobsProcessor.json
{
	"name": "KavitaOrderBlobsProcessor",
	"properties": {
		"description": "this pipeline would process incoming internet order blob files",
		"activities": [
			{
				"name": "Load Processable Blobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "KavitaBlobMetadataDataSet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate Processable Blobs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load Processable Blobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load Processable Blobs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Prepare DLS Target Info",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "DLSTargetProvider",
								"method": "POST",
								"body": {
									"value": "@concat('{​\"blobPath\":\"', item().Path, '\", \"blobName\":\"', item().BlobName, '\"}​')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DLSproviderFunctionConnection",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy Blob Storage to DLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Prepare DLS Target Info",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "orderid",
												"type": "Int32",
												"physicalType": "String"
											},
											"sink": {
												"name": "orderid",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "orderdate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "orderdate",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "customer",
												"type": "Int32",
												"physicalType": "String"
											},
											"sink": {
												"name": "customer",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "product",
												"type": "Int32",
												"physicalType": "String"
											},
											"sink": {
												"name": "product",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "units",
												"type": "Int32",
												"physicalType": "String"
											},
											"sink": {
												"name": "units",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "billingaddress",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "billingaddress",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "remarks",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "remarks",
												"type": "String",
												"physicalType": "UTF8"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OrdersBlobStorageDataSet",
									"type": "DatasetReference",
									"parameters": {
										"containerName": {
											"value": "@activity('Prepare DLS Target Info').output.containerName",
											"type": "Expression"
										},
										"folder": {
											"value": "@activity('Prepare DLS Target Info').output.path",
											"type": "Expression"
										},
										"fileName": {
											"value": "@activity('Prepare DLS Target Info').output.blobName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OrganizedOrdersDLSDataSet",
									"type": "DatasetReference",
									"parameters": {
										"fileSystemName": "organized-data",
										"folder": {
											"value": "@activity('Prepare DLS Target Info').output.targetOrganizedFullPath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@activity('Prepare DLS Target Info').output.targetOrganizedFileName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Blob Meta Data",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy Blob Storage to DLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[uspUpdateBlobMetadata]",
								"storedProcedureParameters": {
									"dlsLocation": {
										"value": {
											"value": "@item().RecordId",
											"type": "Expression"
										},
										"type": "String"
									},
									"recordId": {
										"value": {
											"value": "@concat(activity('Prepare DLS Target Info').output.targetOrganizedFullPath,activity('Prepare DLS Target Info').output.targetOrganizedFileName)",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "KavitaBlobMetaDataSqlConnection",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}